
h1 {
    background-color: #3E310D;
    color: white;
    width: 300px;
    padding: 20px;
    font-family: fantasy;

}

p {
    background-color: #3E310D;
    color: white;
    width: 700px;
    line-height: 40px;
    padding: 20px;
    font-family: fantasy;
    font-weight: 200;
    text-align: justify;
    
}

body{
    background: url("https://wallpaperaccess.com/full/965738.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 250px;
    height:300px;
    padding: 0;
   
}

#buttonSelection {
    margin-bottom: 80px;
}


#scoreSection { 
    padding: 30px;
    margin: 50px;
    background-color: #3E310D;
    color: white;
    font-family: fantasy;
    display: flex;

}

footer {
    background-color: #3E310D;
    color: white;
    padding: 30px;
    text-align: center;
}
